/* Main container styling */
.main_container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(254, 134, 160);
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Tagline styling */
.tag {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: black;
    margin-top: 10px;
    display: flex;
}

/* Container styling for the stopwatch */
.container {
    height: 320px;
    width: 320px;
    background-color:#70f2e3;
    border: 14px solid rgb(3, 3, 3);
    border-radius: 50%;
    position: relative;
    box-shadow: 0 2vw 4vw -1vw rgba(0, 0, 0, 0.8);
}

/* Display area styling */
.display {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dial lines styling */
.diallines {
    z-index: 2;
    width: 2px;
    height: 15px;
    background: #666;
    left: 50%;
    margin-top: 10px;
    margin-left: -1px;
    position: absolute;
    transform-origin: 50% 150px;
}

/* Larger dial lines for every 5 minutes */
.diallines:nth-of-type(5n) {
    width: 4px;
    height: 25px;
}

/* Timer text styling */
.tTex {
    font-size: 2.2rem;
    text-shadow: #666;
    color: antiquewhite;
}

/* Animation for the timer text color change */
@keyframes timerAnimation {
    0% {
        color: rgb(27, 221, 27); /* Initial color */
    }
    50% {
        color: rgb(236, 41, 11); /* Midway color */
    }
    100% {
        color: rgb(35, 10, 197); /* Final color */
    }
}

/* Apply the color change animation */
.timer-animation {
    animation: timerAnimation 1s linear infinite alternate;
}
/* Styling for key */
.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -2px;
  }
  .fake{
    height: 30px;
    width: 60px;
    background-color: black;
}

/* Styling for start and stop buttons */
.button-running,
.button-stopped,
#reset_button {
    height: 40px;
    width: 60px;
    background-color: black;
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 15px 0px 0px 15px; /* Rounded corners on the left */
}
.button-stopped:hover,
#reset_button:hover {
    background-color: rgb(27, 221, 27); /* Green color on hover */
}
.button-running:hover {
    background-color: rgb(236, 41, 11); /* Red color on hover */
}

/* Reset button styling */
#reset_button {
    border-radius: 0px 15px 15px 0px; /* Rounded corners on the right */
}
